%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center-column {
  @extend %flex-center;

  flex-direction: column;
}

%typography-small-bold {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  font-family: $font-family-poppins;
  letter-spacing: 3px;
}
